@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";
@mixin commonInput {
  padding: 8px 16px;
  outline: none;
  font-weight: bold;
  background: transparent;
}
.input {
  @include text(20px, $primary, initial);
  border-bottom: solid 2px $primary;
  @include commonInput();
}
.input::placeholder {
  color: $primary;
  font-weight: bold;
}
.inputDark {
  @include text(20px, $neutralWhite, initial);
  border-bottom: solid 2px $neutralWhite;
  @include commonInput();
}
.inputDark::placeholder {
  color: $neutralWhite;
}
