@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";
.input {
  @include text(20px, $neutralSecundary, initial);
  padding: 2px 8px;
  outline: none;
  background: transparent;
  border-bottom: solid 3px $neutralSecundary;
  border-radius: 4px;
  &:focus {
    border-color: $primary-600;
  }
}
.input::placeholder {
  color: $neutralSecundary;
}
