$primary-500: #0b3b47;
$primary-600: #122335;
$secundary-500: #a1c8d1;
$secundary-600: #d2f8f7;
$secundary-700: #4491a4;
$neturalPrimary: black;
$neutralSecundary: white;
$neutralTertiary: gray;
$neutralbg: #a1c8d1;

// rediseño
$backGroundDark: #1D222A;
$backGround: #F2F2F2;
$primary: #343d4c;
$neutralWhite: #ffffff;
$description: #677A98;
$descriptionDark: #e6e6e6;
