@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";
@mixin commonbutton {
  padding: 9px 29px;
  border-radius: 4px;
  transition: all ease-out 200ms;
}
.button {
  @include button(24px, $primary-600, $neutralSecundary);
  @include commonbutton();
}
.buttonDark {
  @include button(24px, $secundary-700, $neutralSecundary);
  @include commonbutton();
}
