.button {
    padding: 9px 29px;
    color: white;
    background-color: #122335;
    border-radius: 4px;
    transition: all ease-out 200ms;
    font-size: 24px;
    &:hover{
      background: #122335;
    }
  }