@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";
.title {
  @include text(60px, $primary-500, center);
  font-weight: 500;
}
.titleDark {
  @include text(60px, $secundary-600, center);
  font-weight: 500;
}
.subTitle {
  @include text(35px, $primary-500, center);
  font-weight: 500;
}
.cardDark {
  @include card($neutralSecundary);
  gap: 5px;
}
.card {
  @include card($neutralbg);
  gap: 5px;
}
.image {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 70px;
  border-radius: 50%;
}
.text {
  @include text(22px, $primary-500, initial);
}
