.containerCard {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.titleMain {
  font-size: 36px;
  color: #122335;
  text-align: center;
  font-weight: 600;
}
