@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";
.description {
  @include text(22px, $description, initial);
  font-weight: 600;
  line-height: 23px;
}
.descriptionDark {
  @include text(22px, $descriptionDark, initial);
  font-weight: 600;
  line-height: 23px;
}
