.containerMain {
  width: 100%;
  min-height: 100vh;
  background: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}
.containerInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.title {
  font-size: 30px;
  color: blue;
  text-align: center;
  font-weight: bold;
}
.description {
  font-size: 20px;
  color: black;
  text-align: center;
}
.containerFile {
  position: relative;
  width: 100%;
  background: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 16px;
  &:hover{
    background:blueviolet ;
  }
}
.file {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.titleFile {
  font-size: 18px;
  color: white;
  text-align: center;
}
