@mixin container($color) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: $color;
  padding: 20px;
  border-radius: 4px;
  width: 100%;
  max-width: 600px;
}
.celeste {
  @include container(#a1c8d1);
}
.gray {
  @include container(#717b86);
}
@mixin title($size, $color) {
  font-size: $size;
  color: $color;
  text-align: center;
  font-weight: 700;
}
.titleWhite {
  @include title(24px, white);
}
.titleBlue {
  @include title(24px, #0d1925);
}
.containerMain {
  width: 100%;
  min-height: 100vh;
  background: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.image {
  width: 161px;
  height: 161px;
  border-radius: 50%;
}
.description {
  font-size: 15px;
  color: #000000;
  text-align: center;
  font-weight: 400;
}
// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
//   gap: 20px;
//   background-color: #717b86;
//   padding: 20px;
//   border-radius: 4px;
//   width: 100%;
// }
.containerInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.title {
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: 700;
}
.description {
  font-size: 20px;
  color: black;
  text-align: center;
}
.containerFile {
  position: relative;
  width: 100%;
  background: #122335;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 16px;
  &:hover {
    background: #122335;
  }
}
.file {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.titleFile {
  font-size: 18px;
  color: white;
  text-align: center;
}
