@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";
@mixin commonContainer {
  gap: 20px;
  padding: 20px;
  border-radius: 4px;
  width: 100%;
  max-width: 600px;
}
.containerPrimary {
  @include flex(column, space-around, center, $secundary-500);
  @include commonContainer();
}
.containerSecundary {
  @include flex(column, space-around, center, $neutralTertiary);
  @include commonContainer();
}
.containerDark {
  @include flex(column, space-around, center, $primary-500);
  @include commonContainer();
}
.titleWhite {
  @include text(24px, $neutralSecundary, center);
  font-weight: 700;
}
.titleBlue {
  @include text(24px, $primary-500, center);
  font-weight: 700;
}
.image {
  width: 161px;
  height: 161px;
  border-radius: 50%;
}
.description {
  @include text(15px, $neturalPrimary, center);
  font-weight: 400;
}
.title {
  @include text(24px, $neutralSecundary, center);
  font-weight: 700;
}
.containerInputs {
  @include flex(column, center, center, initial);
  gap: 10px;
}
.containerButton {
  @include flex(initial, center, center, initial);
  gap: 15px;
}

@mixin commonFile {
  position: relative;
  width: 100%;
  border-radius: 4px;
  padding: 8px 16px;
}
.containerFile {
  @include flex(column, center, center, $primary-600);
  @include commonFile();
}
.containerFileDark {
  @include flex(column, center, center, $secundary-700);
  @include commonFile();
}
.file {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.titleFile {
  @include text(18px, $neutralSecundary, center);
}
