.containerCard {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@mixin card($bg) {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 165px;
  min-height: 200px;
  aspect-ratio: 1/1;
  background-color: $bg;
}
.card {
  @include card(white);
}
@mixin title($color) {
  font-size: 24px;
  color: $color;
  text-align: center;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
}
.title {
  @include title(#06232a);
}
.titleDark {
  @include title(white);
}
.titleMainDark {
  font-size: 32px;
  color: #D2F8F7;
  text-align: center;
  margin: 20px 0;
}
.containerPrecio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerProfesional {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 15px;
  article {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: 148px;
      border-radius: 50%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
}
.profesional {
  font-size: 18px;
  color: #15758d;
}
.images {
  min-height: 50px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.containerButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
// hola mundo

.titleMain {
  font-size: 36px;
  color: #d2f8f7;
  text-align: center;
}
.containerDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 30px 15px;
}
.desripcion {
  font-size: 18px;
  color: white;
  text-align: left;
  flex: 2;
}
.precio {
  font-size: 50px;
  color: #169997;
  flex: 1;
}
.cardNombre {
  font-size: 20px;
  color: #06232a;
}
.cardInformation {
  font-size: 18px;
  color: #169997;
}

