.containerCard {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@mixin card($bg) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  max-width: 140px;
  min-height: 210px;
  background-color: $bg;
}
.card {
  @include card(white);
}
@mixin title($color) {
  font-size: 20px;
  color: $color;
  text-align: center;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
}
.title {
  @include title(#06232a);
}
.titleDark {
  @include title(white);
}
.titleMain {
  font-size: 32px;
  color: #06232a;
  text-align: center;
}
.titleMainDark {
  font-size: 32px;
  color: white;
  text-align: center;
}
.containerPrecio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.precio {
  font-size: 24px;
  color: #169997;
}
.profesional {
  font-size: 18px;
  color: #15758d;
}
.images {
  min-height: 50px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.containerButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
