@mixin title($color) {
  font-size: 36px;
  color: $color;
  text-align: center;
  font-weight: 500;
}
.title {
  @include title(#122335);
}
.titleDark {
  @include title(#D2F8F7);
}
.containerImages {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.containerDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
