@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";
.containerDiv {
  width: 100%;
  height: 100%;
  @include flex(column, space-between, center, initial);
  gap: 20px;
}
.title {
  @include text(36px, $primary-500, center);
  font-weight: 500;
}
.titleDark {
  @include text(36px, $secundary-600, center);
  font-weight: 500;
}
.containerImages {
  width: 100%;
  @include flex(initial, space-around, center, initial);
  flex-wrap: wrap;
  gap: 20px;
}

