@import "../../../../sass/variables.scss";
@import "../../../../sass/mixins.scss";
.celeste {
  @include flex(column, space-around, center, $secundary-500);
  gap: 20px;
  padding: 20px;
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
}
.titleBlue {
  @include text(36px, $primary-600, initial);
  font-weight: 700;
}
.titleSub {
  @include text(24px, $primary-600, initial);
  font-weight: 700;
}
.card {
  @include flex(column, initial, initial, initial);
  gap: 15px;
}
.containerImage {
  @include flex(column, center, center, initial);
  width: 100%;
}
.image {
  width: 161px;
  height: 161px;
  border-radius: 50%;
  object-fit: cover;
}
.description {
  @include text(18px, $primary-600, initial);
  font-weight: 400;
}
