@import "../../../../sass/variables.scss";
@import "../../../../sass/mixins.scss";
.card {
  @include card($neutralbg);
  gap: 8px;
}
.cardDark {
  @include card($neutralSecundary);
  gap: 8px;
}
.title {
  @include text(40px, $primary-600, center);
  font-weight: 700;
}
.titleSub {
  @include text(24px, $primary-600, initial);
  font-weight: 700;
}
.containerImage {
  @include flex(column, center, center, initial);
  width: 100%;
}
.image {
  width: 161px;
  height: 161px;
  border-radius: 50%;
  object-fit: cover;
}
.description {
  @include text(20px, $primary-600, initial);
}
