@mixin container($color) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: $color;
  padding: 20px;
  border-radius: 4px;
  width: 100%;
  max-width: 600px;
}
.celeste {
  @include container(#a1c8d1);
}
@mixin title($size, $color) {
  font-size: $size;
  color: $color;
  font-weight: 700;
}
.titleWhite {
  @include title(24px, white);
}
.titleBlue {
  @include title(36px, #0d1925);
}
.titleSub {
  @include title(24px, #0d1925);
}
.image {
  width: 161px;
  height: 161px;
  border-radius: 50%;
  object-fit: cover;
}
.description {
  font-size: 18px;
  color: #000000;
  font-weight: 400;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.containerImage {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
