@import "../../../sass/variables.scss";
@mixin spinner($color) {
  border: solid 6px rgba(0, 0, 0, 0.1);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border-left-color: $color;
  animation: spin 1s linear infinite;
}
.spinner {
  @include spinner($primary-600);
}
.spinnerDark {
  @include spinner($neutralSecundary);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
