@mixin card($bg) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  max-width: 250px;
  min-height: 300px;
  background-color: $bg;
}
.card {
  @include card(white);
}
@mixin title($color) {
  font-size: 32px;
  color: $color;
  text-align: center;
}
.title {
  @include title(#06232a);
}
.titleDark {
  @include title(#06232a);
}
.containerPrecio{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.precio {
  font-size: 24px;
  color: #169997;
}
.profesional {
  font-size: 18px;
  color: #15758d;
}
.images {
  flex: 2px;
  min-height: 140px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.containerButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
