@import "../sass/variables.scss";
@import "../sass/mixins.scss";
@mixin commonContainer {
  gap: 20px;
  padding: 25px;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
}
.containerSecundary {
  @include flex(column, space-around, center, $neutralWhite);
  @include commonContainer();
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}
.containerDark {
  @include flex(column, space-around, center, $primary);
  @include commonContainer();
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
}
.containerButtons {
  @include flex(initial, center, center, initial);
  width: 100%;
  gap: 20px;
}
.error {
  @include text(20px, #5f2120, center);
  font-weight: 600;
  line-height: 23px;
  background: #fff4e5;
  padding: 8px;
  border-radius: 4px;
}
.errorDark {
  @include text(20px, #f4c7c7, center);
  font-weight: 600;
  line-height: 23px;
  background: #191207;
  padding: 8px;
  border-radius: 4px;
}
.description {
  @include text(20px, $description, center);
  font-weight: 600;
  line-height: 23px;
}
.descriptionDark {
  @include text(20px, $descriptionDark, center);
  font-weight: 600;
  line-height: 23px;
}
.image {
  width: 161px;
  height: 161px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.containerInputs {
  @include flex(column, center, center, initial);
  gap: 30px;
  width: 100%;
}
.containerButton {
  @include flex(column, center, center, initial);
  gap: 15px;
}
