@import "../sass/variables.scss";
@import "../sass/mixins.scss";
@mixin commonContainer {
  gap: 20px;
  padding: 20px;
  border-radius: 4px;
  width: 100%;
  max-width: 600px;
}
.containerPrimary {
  @include flex(column, space-around, center, $secundary-500);
  @include commonContainer();
}
.containerSecundary {
  @include flex(column, space-around, center, $neutralTertiary);
  @include commonContainer();
}
.containerDark {
  @include flex(column, space-around, center, $primary-500);
  @include commonContainer();
}
.titlePrimary {
  @include text(24px, $primary-500, center);
  font-weight: 700;
}
.titleSecundary {
  @include text(24px, $neutralSecundary, center);
  font-weight: 700;
}
.image {
  width: 161px;
  height: 161px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.description {
  @include text(18px, $neturalPrimary, center);
  font-weight: 400;
}

.containerInputs {
  @include flex(column, center, center, initial);
  gap: 30px;
  width: 100%;
}
.containerButton {
  @include flex(column, center, center, initial);
  gap: 15px;
}
