.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}
.title {
  font-size: 30px;
  color: blue;
  text-align: center;
  font-weight: bold;
}
.image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.description {
  font-size: 20px;
  color: black;
  text-align: center;
}

.containerInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
