@import "../../../../sass/mixins.scss";
@import "../../../../sass/variables.scss";
.cardDark {
  @include card($neutralSecundary);
}
.card{
  @include card($neutralbg)
}
.title {
  @include text(36px, $primary-500, center);
  font-weight: 500;
}
.images {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  object-fit: cover;
  aspect-ratio: 1/1;
}
