@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";
.cardDark {
  @include card($neutralSecundary);
  gap: 5px;
}
.card {
  @include card($neutralbg);
  gap: 5px;
}
.image {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}
.nameService {
  @include text(32px, $primary-500, initial);
  font-weight: bolder;
}
.nameCenter {
  @include text(20px, $primary-500, initial);
  font-weight: bolder;
}
.text {
  @include text(21px, $primary-500, initial);
}
.descuento{
  @include text(23px, $primary-500, initial);
  font-weight: bold;

}
.title {
  @include text(40px, $primary-500, center);
  font-weight: 500;
}
.titleDark {
  @include text(40px, $secundary-600, center);
  font-weight: 500;
}

.imageServicio {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  height: 275px;
  border-radius: 4px;
}
.span {
  width: 100%;
  @include flex(initial, initial, center, initial);
  gap: 20px;
  img {
    width: 42px;
  }
}
.cardClienteDark {
  @include card($neutralSecundary);
  flex-direction: initial;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.cardCliente {
  @include card($neutralbg);
  flex-direction: initial;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.imageCliente {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 90px;
  border-radius: 50%;
}
