@import "../../../../sass/variables.scss";
@import "../../../../sass/mixins.scss";
@mixin commonCard {
  padding: 15px;
  max-width: 300px;
  width: 90%;
}
.cardDark {
  @include card($neutralSecundary);
  gap: initial;
}
.card {
  @include card($neutralbg);
  gap: initial;
}
.title {
  @include text(32px, $primary-500, center);
}
.name {
  @include text(34px, $primary-500, center);
  font-weight: bold;
}
