@import "../../../sass/variables.scss";
@mixin container($bg) {
  width: 100%;
  min-height: 100vh;
  background: $bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 100px 20px;
}
.container {
  @include container($backGround);
}
.containerDark {
  @include container($backGroundDark);
}
